BLX2000_Orchestrator.json
[{"id":"cc51eb25.22b06","type":"google calendar","z":"e63c16df.6fe67","google":"","name":"","calendar":"","ongoing":false,"x":730,"y":260,"wires":[["814a9e73.d77d88"]]},{"id":"ec812afb.b19d3","type":"openweathermap","z":"e63c16df.6fe67","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"fr","x":864,"y":400,"wires":[["103cf372.06c00d"]]},{"id":"27412412.20886c","type":"inject","z":"e63c16df.6fe67","name":"PresenceSensor_1","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":360,"wires":[[]]},{"id":"814a9e73.d77d88","type":"function","z":"e63c16df.6fe67","name":"getUserConcerned","func":"var newPayload = {payload : {users : []}};\nfor (var i = 0; i < msg.payload.attendees.length; ++i){\n    newPayload.payload.users.push(msg.payload.attendees[i].email);\n}\nreturn {payload : newPayload};","outputs":1,"noerr":0,"x":984,"y":260,"wires":[["a5fb9a5b.47c7a8"]]},{"id":"103cf372.06c00d","type":"function","z":"e63c16df.6fe67","name":"shouldTakeCarAccordingToMeteo","func":"var badMeteo = flow.get('config/badWeather');\n\nfor (var bm in badMeteo){\n    if(bm == msg.payload.weather){\n        return {payload : {badWeather : true}};\n    }\n}\nreturn {payload : {badWeather : false}};","outputs":1,"noerr":0,"x":1154,"y":400,"wires":[["a5fb9a5b.47c7a8"]]},{"id":"3f045826.12aa58","type":"function","z":"e63c16df.6fe67","name":"BLXCommandOpen","func":"var usersMap = flow.get('config/usersMap');\nvar openedDrawers = flow.get('opened');\nopenedDrawers = (openedDrawers === undefined ? [] : openedDrawers);\nvar badWeather = msg.payload.badWeather;\nvar newPayload = {action : \"open\", drawers : []};\nvar toOpen = [];\n\nif(msg.payload.payload.users.length <= 0){ return }\n\nfor(var i = 0; i < msg.payload.payload.users.length; ++i){\n    var userObj = usersMap[\"fromMail\"][msg.payload.payload.users[i]]\n    if(userObj !== undefined){\n        var drawers = (badWeather ? userObj['drawers']['all'] : userObj['drawers']['basic']);\n        for(var d = 0; d < drawers.length ; ++d){\n            if(!openedDrawers.includes(drawers[d])){\n                toOpen.push(drawers[d]);\n                openedDrawers.push(drawers[d]);\n            }\n        }\n    }\n}\nnewPayload.drawers = toOpen;\nflow.set(\"opened\", openedDrawers);\nif(toOpen.length > 0){\n    return {payload : newPayload};\n}","outputs":1,"noerr":0,"x":1454,"y":260,"wires":[["a9f1ec3b.72e55","a4b9eb35.9836f"]]},{"id":"bd113cfd.1c0158","type":"function","z":"e63c16df.6fe67","name":"inputLatLon","func":"var nMsg = {location: msg.payload}\nreturn nMsg;","outputs":1,"noerr":0,"x":644,"y":400,"wires":[["ec812afb.b19d3"]]},{"id":"a5fb9a5b.47c7a8","type":"join","z":"e63c16df.6fe67","name":"merge","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1244,"y":260,"wires":[["3f045826.12aa58"]]},{"id":"f230c787.7039a8","type":"function","z":"e63c16df.6fe67","name":"syncInputs","func":"var coord = flow.get('config/coordinates');\nvar topic = flow.get('config/topicCalendar');\n\nvar msg1 = { payload:topic};\nvar msg2 = { payload:coord};\nreturn [ msg1, msg2];","outputs":2,"noerr":0,"x":464,"y":300,"wires":[["cc51eb25.22b06"],["bd113cfd.1c0158"]]},{"id":"1f5c6f7.3e26811","type":"comment","z":"e63c16df.6fe67","name":"TODOs","info":"- enqueue commands\n- config\n- largeur : 57\n- profondeur : 40\n- hauteur : 8","x":250,"y":160,"wires":[]},{"id":"a4b9eb35.9836f","type":"mqtt out","z":"e63c16df.6fe67","name":"","topic":"blx2000/command","qos":"","retain":"","broker":"8b6aa557.faa448","x":1670,"y":380,"wires":[]},{"id":"a9f1ec3b.72e55","type":"debug","z":"e63c16df.6fe67","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1664,"y":260,"wires":[]},{"id":"44adbdfe.685bb4","type":"inject","z":"e63c16df.6fe67","name":"RFID","topic":"","payload":"[255,255,255,254]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":874,"wires":[[]]},{"id":"7b61739b.cbd15c","type":"function","z":"e63c16df.6fe67","name":"RFIDController","func":"var openedDrawers = flow.get(\"opened\")\nif(openedDrawers === undefined){\n\topenedDrawers = []\n}\n\nvar usersMap = flow.get(\"config/usersMap\")\n\nvar strID = msg.payload\n\nif(usersMap === undefined){return}\nvar userDrawers = usersMap[\"fromID\"][strID]\nif(userDrawers === undefined){return}\nuserDrawers = userDrawers[\"drawers\"][\"all\"]\n\n\nvar res = []\nfor(var j = 0; j < userDrawers.length; ++j){\n\tif(!openedDrawers.includes(userDrawers[j])){\n\t\tres.push(userDrawers[j])\n\t}\n}\n\nvar newOpened = (openedDrawers.length > 0 ? openedDrawers.concat(res) : res)\nflow.set(\"opened\", newOpened)\n\nif(res.length > 0){\n    return {payload : {\"action\" : \"open\", \"drawers\" : res}}\n}\n","outputs":1,"noerr":0,"x":580,"y":814,"wires":[["a73c25f6.f26b5","a8abbdc5.841a1"]]},{"id":"a8abbdc5.841a1","type":"mqtt out","z":"e63c16df.6fe67","name":"","topic":"blx2000/command","qos":"","retain":"","broker":"8b6aa557.faa448","x":790,"y":814,"wires":[]},{"id":"6f63ca32.38425c","type":"comment","z":"e63c16df.6fe67","name":"AUTO OPEN","info":"","x":270,"y":160,"wires":[]},{"id":"9096213c.1210b8","type":"comment","z":"e63c16df.6fe67","name":"FORCED OPEN","info":"","x":120,"y":774,"wires":[]},{"id":"a73c25f6.f26b5","type":"debug","z":"e63c16df.6fe67","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":874,"wires":[]},{"id":"53ce4941.c3341","type":"inject","z":"e63c16df.6fe67","name":"init","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1054,"wires":[["e9e085a2.b95368"]]},{"id":"e9e085a2.b95368","type":"function","z":"e63c16df.6fe67","name":"initConfiguration","func":"var usersMap = {\n\tfromID : {\n\t\tffffffff : {\n\t\t\t'email' : 'thresh974@hotmail.fr',\n\t\t\t'drawers' : {\n\t\t\t\t'basic' : ['1'],\n\t\t\t\t'car' : ['1'],\n\t\t\t\t'all' : ['1']\n\t\t\t}\n\t\t},\n\t\tfffffffe : {\n\t\t\t'email' : 'y@gmail.com',\n\t\t\t'drawers' : {\n\t\t\t\t'basic' : ['2'],\n\t\t\t\t'car' : ['2'],\n\t\t\t\t'all' : ['2'],\n\t\t\t}\n\t\t},\n\t\tfffffffd : {\n\t\t\t'email' : 'z@gmail.com',\n\t\t\t'drawers' : {\n\t\t\t\t'basic' : ['1'],\n\t\t\t\t'car' : ['2'],\n\t\t\t\t'all' : ['1', '2']\n\t\t\t}\n\t\t}\n\t},\n\tfromMail : {\n\t\t'tresh974@hotmail.fr' : {\n\t\t\t'id' : 'ffffffff',\n\t\t\t'drawers' : {\n\t\t\t\t'basic' : ['1'],\n\t\t\t\t'car' : ['1'],\n\t\t\t\t'all' : ['1']\n\t\t\t}\n\t\t},\n\t\t'y@gmail.com' : {\n\t\t\t'id' : 'fffffffe',\n\t\t\t'drawers' : {\n\t\t\t\t'basic' : ['2'],\n\t\t\t\t'car' : ['2'],\n\t\t\t\t'all' : ['2']\n\t\t\t}\n\t\t},\n\t\t'thresh974@hotmail.fr' : {\n\t\t\t'id' : 'fffffffd',\n\t\t\t'drawers' : {\n\t\t\t\t'basic' : ['1','2'],\n\t\t\t\t'car' : ['2'],\n\t\t\t\t'all' : ['1', '2']\n\t\t\t}\n\t\t}\n\t},\n}\n\nvar badWeather = [\"Rain\", \"Snow\", \"Extreme\"]\n\nvar allDrawers = ['1', '2']\n\nvar coordinates = {\"lat\":10.9883696,\"lon\":-74.8051523}\n\nvar topicCalendar = 'BLX2000'\n\nflow.set('config/usersMap', usersMap)\nflow.set('config/badWeather', badWeather)\nflow.set('config/allDrawers', allDrawers)\nflow.set('config/coordinates', coordinates)\nflow.set('config/topicCalendar', topicCalendar)\nflow.set('opened', [])\n\nreturn usersMap;\n","outputs":1,"noerr":0,"x":290,"y":1054,"wires":[["d5bc4fcb.63f898"]]},{"id":"faa25398.aca9e","type":"comment","z":"e63c16df.6fe67","name":"CONFIGURATION","info":"","x":110,"y":994,"wires":[]},{"id":"de9f318b.b812e8","type":"switch","z":"e63c16df.6fe67","name":"OpenOrClose","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":420,"wires":[["f230c787.7039a8"],["b093aefe.f790e"]]},{"id":"5b039584.10285c","type":"inject","z":"e63c16df.6fe67","name":"PresenceSensor_0","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":420,"wires":[[]]},{"id":"251b8c8f.034aa4","type":"mqtt in","z":"e63c16df.6fe67","name":"","topic":"blx2000/sensors/presence_sensor","qos":"2","broker":"8b6aa557.faa448","x":160,"y":500,"wires":[["de9f318b.b812e8"]]},{"id":"9a94bff0.4fa29","type":"mqtt in","z":"e63c16df.6fe67","name":"","topic":"blx2000/sensors/NFC_sensor","qos":"2","broker":"8b6aa557.faa448","x":170,"y":914,"wires":[["e3393a35.7a6968"]]},{"id":"e3393a35.7a6968","type":"function","z":"e63c16df.6fe67","name":"parseRFID","func":"var strID = \"\"\nfor(var i = 0; i < msg.payload.length; ++i){\n\tstrID += msg.payload[i].toString(16)\n}\nreturn {payload : strID}","outputs":1,"noerr":0,"x":330,"y":834,"wires":[["7b61739b.cbd15c","a73c25f6.f26b5"]]},{"id":"b093aefe.f790e","type":"function","z":"e63c16df.6fe67","name":"BLXCommandClose","func":"var openedDrawers = flow.get(\"opened\")\nif(openedDrawers !== undefined && openedDrawers.length > 0){\n\tflow.set(\"opened\", [])\n\treturn {payload : {\"action\" : \"close\", \"drawers\" : openedDrawers}}\n}","outputs":1,"noerr":0,"x":1440,"y":540,"wires":[["a81763d4.d21598","a4b9eb35.9836f"]]},{"id":"a81763d4.d21598","type":"debug","z":"e63c16df.6fe67","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":540,"wires":[]},{"id":"926dc80c.3dd54","type":"ui_form","z":"e63c16df.6fe67","name":"","label":"Drawers","group":"23d876f6.b89792","order":2,"width":0,"height":0,"options":[{"label":"Drawer1","value":"Drawer1","type":"switch","required":true,"rows":null},{"label":"Drawer2","value":"Drawer2","type":"switch","required":true,"rows":null}],"formValue":{"Drawer1":false,"Drawer2":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":460,"y":640,"wires":[["7d5a1e44.3e49e"]]},{"id":"7d5a1e44.3e49e","type":"function","z":"e63c16df.6fe67","name":"dashboardController","func":"var openedDrawers = flow.get(\"opened\")\nif(openedDrawers === undefined){\n\topenedDrawers = []\n}\n\nvar toClose = []\nvar toOpen = []\nvar switchValues = msg.payload\n\nvar i = 1\nfor(let key in switchValues){\n\tif(!switchValues[key] && openedDrawers.includes(String(i))){\n\t\ttoClose.push(String(i))\n\t}else if(switchValues[key] && !openedDrawers.includes(String(i))){\n\t\ttoOpen.push(String(i))\n\t}\n\t++i\n}\n\nvar newOpened = openedDrawers.concat(toOpen)\nnewOpened = newOpened.filter(drawer => !toClose.includes(drawer))\nflow.set(\"opened\", newOpened)\n\nres = []\nif(toOpen.length > 0){\n\tres.push({payload : { \"action\" : \"open\", \"drawers\" : toOpen}})\n}\nif(toClose.length > 0){\n\tres.push({payload : { \"action\" : \"close\", \"drawers\" : toClose}})\n}\nreturn res\n","outputs":1,"noerr":0,"x":720,"y":640,"wires":[["5fff52df.2b3a44","28390041.70a04"]]},{"id":"5fff52df.2b3a44","type":"debug","z":"e63c16df.6fe67","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1020,"y":640,"wires":[]},{"id":"28390041.70a04","type":"mqtt out","z":"e63c16df.6fe67","name":"","topic":"blx2000/command","qos":"","retain":"","broker":"8b6aa557.faa448","x":1070,"y":700,"wires":[]},{"id":"12a18d02.b378d3","type":"function","z":"e63c16df.6fe67","name":"refreshInputForm","func":"var openedDrawers = flow.get('opened')\nopenedDrawers = (openedDrawers === undefined ? [] : openedDrawers)\n\nvar state1 = (openedDrawers.includes(1) ? true : false)\nvar state2 = (openedDrawers.includes(2) ? true : false)\n\n\nreturn {fromValue : {\"Drawer1\" : state1, \"Drawer2\" : state2}}\n","outputs":1,"noerr":0,"x":210,"y":640,"wires":[["926dc80c.3dd54"]]},{"id":"d5bc4fcb.63f898","type":"debug","z":"e63c16df.6fe67","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":480,"y":1054,"wires":[]},{"id":"8b6aa557.faa448","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"23d876f6.b89792","type":"ui_group","z":"","name":"Drawers Manager","tab":"f6239df9.a4cc1","order":1,"disp":true,"width":"6","collapse":false},{"id":"f6239df9.a4cc1","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]