rpiFlow.json
[{"id":"d9e9bc26.b5bad","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"1022eb76.566db5","type":"function","z":"d9e9bc26.b5bad","name":"commandParse","func":"var action = msg.payload.action\nvar drawers = msg.payload.drawers\nvar msgQueue = []\n\nfor( i=0; i < drawers.length; ++i){\n    msgQueue.push({ payload: action+drawers[i] })\n}\n\nreturn msgQueue;","outputs":2,"noerr":0,"x":600,"y":440,"wires":[["a9fe580a.731928"],["a9fe580a.731928"]]},{"id":"a9fe580a.731928","type":"switch","z":"d9e9bc26.b5bad","name":"motorControl","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"open1","vt":"str"},{"t":"eq","v":"close1","vt":"str"},{"t":"eq","v":"open2","vt":"str"},{"t":"eq","v":"close2","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":910,"y":440,"wires":[["bbef3370.ea99e","f132d52c.4931"],["bbef3370.ea99e","22469c9c.cc1794"],["748c39c2.12e82","ee58f2e4.7cd2a"],["748c39c2.12e82","9bfb1da2.27cea"]]},{"id":"46343129.313c6","type":"delay","z":"d9e9bc26.b5bad","name":"timingStopMotor1","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1490,"y":340,"wires":[["3c0d5f85.b9ca1"]]},{"id":"98afa85c.488a4","type":"delay","z":"d9e9bc26.b5bad","name":"timingStopMotor2","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1510,"y":760,"wires":[["49ad59fa.5e9748"]]},{"id":"bbef3370.ea99e","type":"function","z":"d9e9bc26.b5bad","name":"motor1Control","func":"var mapMotorValues = {\n    \"open1\" : 58,\n    \"close1\" : 38\n}\nvar valueStopMotor = 51\n\nif(msg.payload in mapMotorValues){\n    return [\n        { payload : mapMotorValues[msg.payload]},\n        { payload : valueStopMotor}\n    ]\n}","outputs":2,"noerr":0,"x":1200,"y":300,"wires":[["3c0d5f85.b9ca1"],["46343129.313c6"]]},{"id":"748c39c2.12e82","type":"function","z":"d9e9bc26.b5bad","name":"motor2Control","func":"var mapMotorValues = {\n    \"open2\" : 58,\n    \"close2\" : 38\n}\nvar valueStopMotor = 48\n\nif(msg.payload in mapMotorValues){\n    return [\n        { payload : mapMotorValues[msg.payload]},\n        { payload : valueStopMotor}\n    ]\n}","outputs":2,"noerr":0,"x":1200,"y":700,"wires":[["49ad59fa.5e9748"],["98afa85c.488a4"]]},{"id":"f132d52c.4931","type":"join","z":"d9e9bc26.b5bad","name":"led1Control","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1470,"y":420,"wires":[["2cde0.a1cdb2206"]],"outputLabels":["1"]},{"id":"9abacb2a.68a5c","type":"function","z":"d9e9bc26.b5bad","name":"triggerLowLuminosity","func":"if(msg.payload < 250){\n    return {payload : 1};\n}","outputs":1,"noerr":0,"x":620,"y":640,"wires":[["f132d52c.4931","ee58f2e4.7cd2a"]]},{"id":"22469c9c.cc1794","type":"function","z":"d9e9bc26.b5bad","name":"stopLed1","func":"\nreturn {payload : 0};","outputs":1,"noerr":0,"x":1740,"y":500,"wires":[["a9a82fcc.cbbbb"]]},{"id":"ee58f2e4.7cd2a","type":"join","z":"d9e9bc26.b5bad","name":"led2Control","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1490,"y":640,"wires":[["8ee4e292.d66ef8"]],"outputLabels":["1"]},{"id":"9bfb1da2.27cea","type":"function","z":"d9e9bc26.b5bad","name":"stopLed2","func":"\nreturn {payload : 0};","outputs":1,"noerr":0,"x":1740,"y":580,"wires":[["25ccfd37.d4d08a"]]},{"id":"2cde0.a1cdb2206","type":"function","z":"d9e9bc26.b5bad","name":"startLed1","func":"\nreturn {payload : 1};","outputs":1,"noerr":0,"x":1740,"y":420,"wires":[["a9a82fcc.cbbbb"]]},{"id":"8ee4e292.d66ef8","type":"function","z":"d9e9bc26.b5bad","name":"startLed2","func":"\nreturn {payload : 1};","outputs":1,"noerr":0,"x":1740,"y":640,"wires":[["25ccfd37.d4d08a"]]},{"id":"7e1727ce.30db","type":"mqtt out","z":"d9e9bc26.b5bad","name":"","topic":"blx2000/sensors/presence_sensor","qos":"","retain":"","broker":"2e4f1848.d21c98","x":650,"y":780,"wires":[]},{"id":"a7340508.a130d","type":"mqtt out","z":"d9e9bc26.b5bad","name":"","topic":"blx2000/sensors/NFC_sensor","qos":"","retain":"","broker":"2e4f1848.d21c98","x":630,"y":880,"wires":[]},{"id":"114b6a7d.038bfe","type":"mqtt in","z":"d9e9bc26.b5bad","name":"","topic":"blx2000/command","qos":"2","datatype":"auto","broker":"2e4f1848.d21c98","x":110,"y":340,"wires":[["8fbd8f3c.cbca08"]]},{"id":"8fbd8f3c.cbca08","type":"json","z":"d9e9bc26.b5bad","name":"toJSON","property":"payload","action":"obj","pretty":false,"x":330,"y":340,"wires":[["1022eb76.566db5"]]},{"id":"f7b7761b.aa19d","type":"comment","z":"d9e9bc26.b5bad","name":"CHOSES A ADAPTER !!!","info":"- les valeurs dans les fonctions \"trigger...\"\n- verifier les valeurs dans les fonctions \"motorXControl\"\n- MQTT settings\n- remplacer les nodes debug par les pins des actionneurs\n- remplacer les nodes \"...sensor\" d'injection par les pins des capteurs\n\n\nLa présence ou le NFC trigger l'envoi d'une commande par l'orchestrateur selon les  services\n","x":570,"y":200,"wires":[]},{"id":"84eb69e7.ede428","type":"vl53l0x","z":"d9e9bc26.b5bad","bus":"1","address":"41","interval":"100","name":"tof","x":310,"y":780,"wires":[["7e1727ce.30db"]]},{"id":"2cfeef0f.a714","type":"inject","z":"d9e9bc26.b5bad","name":"","topic":"","payload":"start","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":780,"wires":[["84eb69e7.ede428"]]},{"id":"6804a427.ea236c","type":"serial in","z":"d9e9bc26.b5bad","name":"","serial":"e303727a.3b0308","x":160,"y":880,"wires":[["a7340508.a130d"]]},{"id":"2c9c9d72.0b967a","type":"grove analog sensor","z":"d9e9bc26.b5bad","name":"Light","pin":"0","sensor":"light","repeat":"1","board":"49a2fd34.b2e56c","x":190,"y":640,"wires":[["9abacb2a.68a5c"]]},{"id":"3c0d5f85.b9ca1","type":"pi-gpiod out","z":"d9e9bc26.b5bad","name":"","host":"localhost","port":8888,"pin":"7","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","x":1940,"y":300,"wires":[]},{"id":"49ad59fa.5e9748","type":"pi-gpiod out","z":"d9e9bc26.b5bad","name":"","host":"localhost","port":8888,"pin":"4","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","x":1960,"y":700,"wires":[]},{"id":"a9a82fcc.cbbbb","type":"grove digital output","z":"d9e9bc26.b5bad","name":"","board":"49a2fd34.b2e56c","pin":"3","x":1990,"y":460,"wires":[]},{"id":"25ccfd37.d4d08a","type":"grove digital output","z":"d9e9bc26.b5bad","name":"","board":"49a2fd34.b2e56c","pin":"2","x":1990,"y":600,"wires":[]},{"id":"2e4f1848.d21c98","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e303727a.3b0308","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"0x02","newline":"0x03","bin":"false","out":"char","addchar":"","responsetimeout":"1000"},{"id":"49a2fd34.b2e56c","type":"board-config","z":"","board":"GrovePi"}]